{% extends "base.j2" %}

{% block content %}
    <p>Hello {{ name }},</p>
    <p>We received a request to reset your password. Click the link below to reset your password:</p>

    <p>This link will expire in 10 minutes.</p>

    <p style="text-align: center; margin: 30px 0;">
        <a href="{{ password_reset_link }}" style="background-color: #007BFF; color: white; padding: 12px 24px; border-radius: 5px; text-decoration: none; display: inline-block;">
        Reset Password
        </a>
    </p>

    <p>If you didn't request this, please ignore this email or contact our support.</p>

    <p>Thank you,<br/>The Random_guyy_Cache_project Team</p>
{% endblock %}